.form-contato{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-contato label{
    margin-top: 10px;
}

.form-contato input{
    max-width: 400px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.form-contato button{
    margin-top: 30px;
}

.botao-contato{
    padding: 15px;
    background: rgb(80, 219, 0);
    border-radius: 4px;
    color: white;
}

textarea{
    max-width:  400px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

@media screen and (min-width:470px) {
    .form-contato{
        margin: 0 auto;
        padding: 20px;
    }

}