.cerrado {
    margin: auto;
}

.cerrado-introducao {
    margin: 1.3rem;
}

.titulo-principal {
    color: brown;
    font-size: 2rem;
    text-align: center;
    margin: 30px;
}

.bioma-imagem {
    max-width: 10vh;
    float: left;
    margin: 0px 25px 20px 0px;
}

.descricao-frutas {
    margin: 0px;
    text-align: center;
    margin-top: 2rem;
}

.descricao-frutas p {
    margin-bottom: 20px;
}

#frutas {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.frutas-single {
    margin-top: 5vh;
    padding: 20px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 2px 10px 0 #000000;
    background: #f1f1f1;
}

.titulo-secundario {
    margin: 1.4rem;
    text-align: center;
    text-transform: capitalize;
}

.frutas-single p {
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.frutas-single a {
    text-decoration: none;
    color: rgb(5, 5, 255);
}

.frutas-imagem {
    width: 500px;
    float: none;
    margin: 0px 10px 10px 0px;
}

.fotoPerfil{
    width: 140px;
    border-radius: 100%;
    float: left;
    margin: 0px 10px 10px 0px;
}

#sobre{
    max-width: 100vh;
    padding: 20px;
    
}

@media screen and (min-width: 480px) {
    .cerrado {
        width: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frutas-single {
        margin: 10px auto;
        align-items: center;
    }

    .bioma-imagem {
        width: 100%;
        margin: auto;
    }

    .titulo-principal {
        font-size: 4rem;
        text-align: center;
        margin: 24px;
    }

    .bioma-imagem {
        max-width: 100%;
    }
    .frutas-single{
        padding: 10px;
        justify-content: center;
    }

    .frutas-single h2 {
        font-size: 3rem;
    }

    .frutas-link {
        font-size: 1.3rem;
    }

    .frutas-imagem {
        width: 200px;
        float: left;
        margin: 0px 10px 10px 0px;
    }
    
    .fotoPerfil{
        width: 100px;
        border-radius: 100%;
        float: left;
        margin: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 780px) {
    .cerrado {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        font-size: 19px;
        max-width: 100%;
    }

    .cerrado-introducao {
        margin: 1.4rem;
    }

    .titulo-principal {
        font-size: 5rem;
        margin: 30px;
    }

    .bioma-imagem {
        max-width: 100%;
    }

    .frutas-single {
        margin-top: 20px;
        height: auto;
        justify-content: center;
    }

    .frutas-imagem {
        width: 210px;
        float: left;
        margin: 0px 10px 0px 20px;
    }
 
    .frutas-single h2 {
        font-size: 3rem;
        text-align: center;
    }

    .bioma-imagem {
        width: 290px;
        float: left;
        margin: 0px 20px 15px 10px;
    }

    .fotoPerfil{
        width: 100px;
        border-radius: 100%;
        float: left;
        margin: 0px 10px 10px 0px;
    }

}


@media screen and (min-width: 1024px) {
    .cerrado {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        font-size: 19px;
        width: 1200px;
    }

    .cerrado-introducao {
        margin: 1.4rem;
    }

    .titulo-principal {
        font-size: 5rem;
    }

    .frutas-single {
        padding: 20px;
        justify-content: center;
    }

    .frutas-imagem {
        max-width: 300px;
        float: left;
        margin: 0px 10px 0px 20px;
    }

    .frutas-descricao li {
        margin: 4px;
    }

    .frutas-single h2 {
        font-size: 3rem;
        text-align: center;
    }

    .bioma-imagem {
        width: 490px;
        float: left;
        margin: 0px 20px 15px 10px;
    }

    .fotoPerfil{
        width: 100px;
        border-radius: 100%;
        float: left;
        margin: 1rem 10px 10px 0px;
    }

}



