*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100% !important;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    line-height: 1.3;
    font-size: 1.3rem;
    color: #212121;
    font-size: 18px;
    line-height: 1.5;
}

.rodape{
    margin-top: 5rem;
}

li{
    list-style: none;
}