*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100% !important;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f1f1f1;
    text-decoration: none;
}


.rodape{
    margin-top: 5rem;
}

p{
    color: #1f1e1e;
    line-height: 1.5;
}

img{
    border-radius: 5px;
}

li{
    list-style: none;
}