.container-slider {
  display: flex;
  max-width: 330px;
  height: 300px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

.container-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.container-images img {
  width: 270px;
  height: 260px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img,
#next-button img {
  width: 40px;
  height: 30px;
}

#prev-button {
  transform: rotate(180deg);
}


@media screen and (min-width: 480px) {
  .container-slider {
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 30px;
  }

  .container-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  .container-images img {
    width: 350px;
    height: 330px;
  }

  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
  }

  .on {
    opacity: 1;
  }

  #prev-button,
  #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #prev-button img,
  #next-button img {
    width: 40px;
    height: 30px;
  }
}

@media screen and (min-width: 780px) {
  .container-slider {
    display: flex;
    width: 100vh;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 30px;
  }

  .container-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
  }

  .container-images img {
    width: 80vh;
    height: 50vh;
  }

  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
  }

  .on {
    opacity: 1;
  }

  #prev-button,
  #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #prev-button img,
  #next-button img {
    width: 40px;
    height: 30px;
  }

}


@media screen and (min-width: 1024px) {
  .container-slider {
    display: flex;
    width: 110vh;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .container-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110vh;
  }

  .container-images img {
    width: 80vh;
    height: 50vh;
  }

  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
  }

  .on {
    opacity: 1;
  }

  #prev-button,
  #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #prev-button img,
  #next-button img {
    width: 40px;
    height: 30px;
  }

}